*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
}

.btn{
   font-size: 20px;
   background: transparent;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-weight: lighter;
   width: 200px;
   border: none; 
   color: #ffffff;
  padding: 14px 28px; 
  cursor: pointer; 
  border-radius: 5px; 
  background-color: #007bff;
  transition: .5s ease;
}
.btn:hover{
  color: #233751;
}
.input{
  width: 80%;
  padding: 10px;
  height: 16px;
  background: #F5F5F5;
  border: none;
}