*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
}


.input__form{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 399px;
    padding: 20px;
    height: 100%;
    border-radius: 4px;
}

.enter__btn{
    background-color: #0058cb;
    width: 200px;
    height: 62px;
    font-family: 'Raleway';
    font-size: 18px;
    color: #fff;
    border: none;
    box-shadow: 5px 10px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    cursor: pointer;
}
.btn__menu{
    color: black;
}