*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
}

a{
    text-decoration: none;
}

body{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: 115px minmax(100vh,auto) 50vh;
    width: 100%;
    min-height: 100vh;
    grid-template-areas: 
   'header   header   header   header   header   header   header   header'
   'cards    cards    cards    cards    cards    cards    cards    cards'
   'footer   footer   footer   footer   footer   footer   footer   footer'
   ;
}

header{
    align-items: center;
    width: 90%;
    height: 115px;
    display: flex;
    flex-flow: column wrap;
    grid-area: header;
}


.content{
    grid-area: cards;
    padding: 50px;
    background: linear-gradient(to bottom, #0099cc, #003399);

}
footer{
    grid-area: footer;
}
