*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
}

.edit__icon{
    position: absolute;
    bottom: 5px;
    right: 80px;
    cursor: pointer;
}
.delete__icon{
    position: absolute;
    bottom: 5px;
    right: 50px;
    cursor: pointer;
}