.cards__container{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width:100%;
    margin-bottom: 50px;
}

.card__info{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 20px;
}
.card__content{
    display: grid;
    grid-template-columns: repeat(6,15%);
    grid-auto-flow: column;
    justify-content: center;
    align-content: center;
    width: 100%;

}
.card{
width: 16.6%;
margin: 10px;
}
.img__card{
    position: relative;
    width: 8rem;
    height: 145px;
}
.card__img{
    position: relative ;
    height: 100%;
    width: 100%;
    object-fit: cover;
}