*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
}


.cards__container{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width:100%;
    margin-bottom: 50px;
}

.card__info{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    margin: 20px;
}
.card__content{
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  justify-content: flex-start;
  

}
.card{
width: 16.6%;
margin-top: 30px;
margin-bottom: 55px;
}
.img__card{
    position: relative;
    width: 8rem;
    height: 145px;
}
.card__img{
    position: relative ;
    height: 100%;
    width: 100%;
    object-fit: cover;
}