*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
}


.cards__container{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width:100%;
    margin-bottom: 50px;
}

.card__info{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    margin: 20px;
}

.cards__info{
    
    padding: 10px 20px;
    background-color: blue;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: .5s ease;
}

.cards__info:hover{
    background-color: rgb(28, 80, 211);
  color: black;
}
.card__content{
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  height: 100%;
  justify-content: center;
}

.card{
display: flex;
position: relative;
flex-flow: column wrap;
align-items: flex-start;
width: 20%;
margin: 5px;
border-radius: 5px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
padding: 10px;
background: #000000;
}
.img__card{
width: 100%;
height: 60%;
}
.card__img{
object-fit: cover;
width: 100%;
height: 100%;
border-radius: 5px; 
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.name__Card{
margin-top: 5px;
font-weight: 500;
font-size: 14px;
color: #ffffff;
}
.price__Card{
font-weight: 700;
font-size: 14px;
color: #ffffff;
line-height: 2;
}
.link__card{
    color: #fff;
}
