*{
margin:0;
padding: 0;
box-sizing: border-box;
font-family: 'Raleway';
}

.banner__content{
display: flex;
flex-flow: column wrap;
width: 80%;
margin-top: 120px;

}
.banner__title{
color: #fff;
font-size: 40px;
font-weight: 700;
}
.banner__description{
font-weight: 700;
font-size: 22px;
color: #fff;
line-height: 2;
}
.banner__link{
padding: 16px;
background-color:#2A7AE4 ;
width:129px ;
height: 51px;
}

@media (max-width: 767px) {
.banner__content{
margin-top: 0;
}
.banner__title{
color: #fff;
font-size: 15px;
font-weight: 700;
}  
.banner__description{
font-weight: 700;
font-size: 12px;
color: #fff;
line-height: 2;
} 
.banner__link{
padding: 6px;
background-color:#2A7AE4 ;
width:80px ;
height: 20px;
font-size: 10px;
border-radius: 5px;
}
}