*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
}

a{
    text-decoration: none;
}

body{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    width: 100%;
    min-height: 100vh;
    grid-template-areas: 
   'header header header header header header header header'
   'banner banner banner banner banner banner banner banner'
   'cards  cards  cards  cards  cards  cards   cards  cards'
   ;
}

header{
    align-items: center;
    height: 115px;
    width: 90%;
    display: flex;
    flex-flow: column wrap;
    grid-area: header;
}

.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('/img/banner.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 45vh;
    grid-area: banner;
}
.content{
    grid-area: cards;
    background: linear-gradient(to bottom, #0099cc, #003399);
}

