.cards__container{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width:100%;
    margin-bottom: 50px;
}

.card__info{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    margin: 20px;
}
.card__content{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: center;
    width: 100%;

}
.card{
width: 16.6%;
margin: 10px;
}
.card__img{
    width: 8rem;
    height: 154px;
}