*{
    font-family: 'Raleway';
}

.cards__container{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width:100%;
    margin-bottom: 50px;
}

.card__info{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    margin: 20px;
}
.cards__title{
    color: rgb(247, 247, 252);
    font-size: 36px;
    text-align: center;
    animation-name: fadeIn;
    animation-duration: 5s;
    animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
.cards__info{
    color: #fff;
    transition: .5s ease-in-out;
}
.cards__info:hover{
    color: #0a0a0a;
}
.card__content{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: center;
    width: 90%;

}
.card{
display: flex;
flex-flow: column wrap;
align-items: flex-start;
width: 15.6%;
margin: 4px;
border-radius: 5px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
padding: 10px;
background: #ebe3e3;
transition: .5s ease;
cursor: pointer;
}

.card:hover{
    transform: translateY(-8px);
}
.card__img{
object-fit: cover;
width: 100%;
height: 25vh;
border-radius: 5px; 
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.name__Card{
margin-top: 5px;
font-weight: 500;
font-size: 14px;
color: #464646;
}
.price__Card{
font-weight: 700;
font-size: 14px;
color: #464646;line-height: 2;
}
.link__card{
    color: black;
    transition: .5s ease;
    border-radius: 5px;
    padding: 10px 20px;
}
.link__card:hover{
    font-size: 20px;
    background-color: #2A7AE4;
}

@media (max-width: 450px) {
.card{
display: flex;
flex-flow: column wrap;
align-items: flex-start;
width: 40%;
margin: 4px;
border-radius: 5px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
padding: 10px;
background: #ebe3e3;
transition: .5s ease;
cursor: pointer;
}

.link__card{
color: black;
transition: .5s ease;
border-radius: 5px;
padding: 5px 10px;
}
.link__card:hover{
font-size: 15px;
background-color: #2A7AE4;
}
}

@media (min-width: 450px) and (max-width: 650px) {

    .card{
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
        width: 30%;
        margin: 4px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        padding: 10px;
        background: #ebe3e3;
        transition: .5s ease;
        cursor: pointer;
        }

}

@media (min-width: 650px) and (max-width: 1020px) {

    .card{
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
        width: 18%;
        margin: 4px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        padding: 10px;
        background: #ebe3e3;
        transition: .5s ease;
        cursor: pointer;
        }


}