*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
}

.header__article{
display: flex;
flex-direction: row;
flex-wrap: wrap;
width: 90%;
height: 100%;
justify-content: space-between;
}
.header__left {
display: flex;
flex-flow: row wrap;
width:60%;
align-items: center;
}
.alura__logo{
background:url('//img/logo.svg');
object-fit: cover;
background-position: center;
background-repeat: no-repeat;
width: 50%;
}
.input__container{
display: flex;
align-items: center;
justify-content: space-evenly;
flex-flow: row wrap;
width: 45%;
height: 43px;
background: #F5F5F5;
border-radius: 20px;
margin-left: 5px;
}

.btn__container{
display: flex;
align-items: center;
}
.banner__tittle{
    color: #F5F5F5;
}
@media (max-width: 767px) {

.header__article{
display: flex;
flex-flow: column wrap;
justify-content: center;
align-items: center;
width: 100%;
}
.header__left{
height: 60%;
margin-bottom: 15px;
}
.alura__logo{
background:url('/img/logo.svg');
object-fit: cover;
background-position: center;
background-repeat: no-repeat;
width: 100%;
height: 50%;
}
.input__container{
display: flex;
align-items: center;
justify-content: space-evenly;
flex-flow: row wrap;
width: 100%;
height: 30%;
background: #F5F5F5;
border-radius: 20px;
margin-left: 5px;
}
}